<footer class="footer">
    <p>Powered By <a href="http://hexo.io/" target="_blank">Hexo</a>
    - Theme <a href="https://github.com/wayou/hexo-theme-gstyle">gstyle</a>
    - Edit <a href="https://github.com/NaturaAurum">NaturaAurum</a></p>
    <p>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </p>
</footer>
<%- js('lib/jquery') %>
<%- js('lib/waves') %>
<%- js('lib/jquery-ui') %>
<%- js('lib/jquery.tocify') %>
<%- js('js/main') %>
